body{
    text-align: center;

}
.middle-container{
    background-color: #d3d3d39f;
}

.Kelvine{
    border-radius: 100%;
}
.footer_in{
    max-width: 10%;
}
.text{
    text-align: left;
}
.f{
    text-align: left;
}
.v{
    text-align: left;
}
.k{
    font-family: "sacramento",cursive;
}
.w{
    text-align: left;
}
.datan{
    max-width: 100%;
    height: auto;
}
