body{
    font-size: xxx-large;
    text-align: center;

}
.header{
    color: aqua;
}
.middle-container{
    background-color: hsla(224, 51%, 71%, 0.199);
}

.Kelvine{
    border-radius: 100%;
}
.footer_in{
    max-width: 10%;
}
.text{
    text-align: left;
}
.f{
    text-align: left;
    font-size: xxx-large;
}
.v{
    text-align: left;
    font-size: xxx-large;
}
.k{
    font-family: "sacramento",cursive;
    font-size: xxx-large;
}
.w{
    text-align: left;
    font-size: xxx-large;
}
.datan{
    max-width: 100%;
    height: auto;
}
.text{
    font-size: xxx-large;
}
